# Тестовое задание АДВ

В тестовом по времени ограничение не ставим, но было бы здорово, чтобы ты посмотрела на объём и сама нас примерно сориентировала, когда вернёшься

Текст задания:
 
Ниже представлено 4 варианта кода в SQL Server. Нужно объяснить, что этот код делает и что мы получим в итоге. Можно построить в EXCEL результат выполнения этих вариантов кода. Table1 во вложении.

In [8]:
import pandas as pd
import sqlite3

In [4]:
data = pd.read_excel("Table1.xlsx", header=2)

In [5]:
data.head()

,Clip distribution,Months,Weeks,Advertisers list,Brands list,Models list,Article list3,Article list4,National channel,Clip,Clip type,Clip ID,Clip description,Clip expected duration,TVR
0,Network,2013-01-01,31/12/2012 - 06/01/2013,RICHARD BITTNER,AFLUBIN,AFLUBIN HOMOEOPATHIC MEDICINES FOR COLD AND FL...,HOMOEOPATHIC & NATURAL REMEDIES,HOMOEOPATHY,ROSSIYA 1,Aflubin medicine,Spot,1917154,"Упаковка А. стирает крестики, ВНЗ. 1 стр., пач...",5,77.84
1,Network,2013-01-01,31/12/2012 - 06/01/2013,RICHARD BITTNER,AFLUBIN,AFLUBIN HOMOEOPATHIC MEDICINES FOR COLD AND FL...,HOMOEOPATHIC & NATURAL REMEDIES,HOMOEOPATHY,DOMASHNY,Aflubin medicine,Spot,1917154,"Упаковка А. стирает крестики, ВНЗ. 1 стр., пач...",5,19.08
2,Network,2013-01-01,31/12/2012 - 06/01/2013,RICHARD BITTNER,AFLUBIN,AFLUBIN HOMOEOPATHIC MEDICINES FOR COLD AND FL...,HOMOEOPATHIC & NATURAL REMEDIES,HOMOEOPATHY,PYATY KANAL,Aflubin medicine,Spot,1917154,"Упаковка А. стирает крестики, ВНЗ. 1 стр., пач...",5,33.55
3,Network,2013-01-01,31/12/2012 - 06/01/2013,RICHARD BITTNER,PREVALIN,PREVALIN ANTIALLERGENIC NASAL SPRAY,ANTIALLERGENIC REMEDIES,ANTIALLERGENIC REMEDIES,NTV,Prevalin antiallergenic spray,Weather: sponsor,1906534,NaN,0,29.23
4,Network,2013-01-01,31/12/2012 - 06/01/2013,RICHARD BITTNER,PREVALIN,PREVALIN ANTIALLERGENIC NASAL SPRAY; PREVALIN ...,ANTIALLERGENIC REMEDIES,ANTIALLERGENIC REMEDIES,NTV,Prevalin antiallergenic spray (sponsor of weat...,Sponsor's Lead-in,1906530,"Тит: Спонсор.., 3 стр, 2 упак, флак, тит, назв...",5,7.72

In [9]:
conn = sqlite3.connect("test_ADV.db")
cursor = conn.cursor()

In [10]:
data.to_sql("Table1", conn, index=False)

1000

## #1

In [31]:
sql_text = """SELECT 
            [Months], 
            [Advertisers list], 
            [Brands list], 
            [TVR] 
            FROM Table1"""

cursor.execute(sql_text)
res_1 = cursor.fetchall()
res_1 = pd.DataFrame(res_1)
res_1.columns = ["Months", "Advertisers list", "Brands list", "TVR"]
res_1

                  Months Advertisers list Brands list    TVR
0    2013-01-01 00:00:00  RICHARD BITTNER     AFLUBIN  77.84
1    2013-01-01 00:00:00  RICHARD BITTNER     AFLUBIN  19.08
2    2013-01-01 00:00:00  RICHARD BITTNER     AFLUBIN  33.55
3    2013-01-01 00:00:00  RICHARD BITTNER    PREVALIN  29.23
4    2013-01-01 00:00:00  RICHARD BITTNER    PREVALIN   7.72
..                   ...              ...         ...    ...
995  2014-01-01 00:00:00         NOVARTIS       LINEX  33.39
996  2014-01-01 00:00:00         NOVARTIS       LINEX  14.56
997  2014-01-01 00:00:00         NOVARTIS       LINEX   7.02
998  2014-01-01 00:00:00         NOVARTIS       LINEX  29.04
999  2014-01-01 00:00:00         NOVARTIS       LINEX  20.06

[1000 rows x 4 columns]

Производится вывод таблицы «Table1», из всех столбцов выбираются «Months», «Advertisers List», «Brands list», «TVR», то есть просто фильтруем таблицу по столбцам.

Смысл: из данных по рекламным роликам выводим значение месяца трансляции ролика на ТВ, список рекладомателей данного ролика, список обнаруженных брендов, и ТВ-рейтинг ролика как отношение количества человек, увидевшего ролик за среднюю минуту, к генеральной совокупности (население России старше 4 лет).

## #2

In [32]:
sql_text = """SELECT 
            [Months], 
            [Advertisers list], 
            [Brands list], 
            [TVR] 
            FROM Table1 
            WHERE [Brands list] = 'ARBIDOL' """

cursor.execute(sql_text)
res_2 = cursor.fetchall()
res_2 = pd.DataFrame(res_2)
res_2.columns = ["Months", "Advertisers list", "Brands list", "TVR"]
res_2

                 Months Advertisers list Brands list    TVR
0   2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL  24.94
1   2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL  38.02
2   2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL  37.63
3   2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL  31.33
4   2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL  31.06
5   2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL  26.83
6   2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL  13.03
7   2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL  18.68
8   2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL  15.32
9   2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   8.00
10  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   8.12
11  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   6.43
12  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL  30.46
13  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL  38.33
14  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL  39.48
15  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   2.71
16  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   1.78
17  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   4.02
18  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   3.53
19  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   8.75
20  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   5.31
21  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   2.42
22  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   2.00
23  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   2.07
24  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   1.72
25  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   1.91
26  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   1.83
27  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   2.56
28  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   3.17
29  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   2.25
30  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   6.97
31  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   6.51
32  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   5.46
33  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   1.85
34  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   1.93
35  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   1.65
36  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   3.02
37  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   3.40
38  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   3.25
39  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   8.01
40  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   7.86
41  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   5.39
42  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   1.90
43  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   1.84
44  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   1.69
45  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   5.24
46  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   7.86
47  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   6.77
48  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   0.15
49  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   0.19
50  2014-01-01 00:00:00    PHARMSTANDARD     ARBIDOL   0.17

Из всех столбцов таблицы "Table1" выбираются «Months», «Advertisers List», «Brands list», «TVR», данные фильтруются по столбцу «Brands list» = 'ARBIDOL'.

Смысл: то же самое, что в первом запросе, только в данном нас интересуют рекламные ролики, где был только бренд ARBIDOL.

## #3

In [33]:
sql_text = """SELECT 
            [Months], 
            [Advertisers list], 
            [Brands list], 
            IIF([Brands list] like '%NICORETTE%' AND [National channel] = 'STS', [TVR]*1.5, [TVR]) as AdjTVR 
            FROM Table1 """

cursor.execute(sql_text)
res_3 = cursor.fetchall()
res_3 = pd.DataFrame(res_3)
res_3.columns = ["Months", "Advertisers list", "Brands list", "AdjTVR"]
res_3

                  Months Advertisers list Brands list  AdjTVR
0    2013-01-01 00:00:00  RICHARD BITTNER     AFLUBIN   77.84
1    2013-01-01 00:00:00  RICHARD BITTNER     AFLUBIN   19.08
2    2013-01-01 00:00:00  RICHARD BITTNER     AFLUBIN   33.55
3    2013-01-01 00:00:00  RICHARD BITTNER    PREVALIN   29.23
4    2013-01-01 00:00:00  RICHARD BITTNER    PREVALIN    7.72
..                   ...              ...         ...     ...
995  2014-01-01 00:00:00         NOVARTIS       LINEX   33.39
996  2014-01-01 00:00:00         NOVARTIS       LINEX   14.56
997  2014-01-01 00:00:00         NOVARTIS       LINEX    7.02
998  2014-01-01 00:00:00         NOVARTIS       LINEX   29.04
999  2014-01-01 00:00:00         NOVARTIS       LINEX   20.06

[1000 rows x 4 columns]

Производится вывод таблицы «Table1», из всех столбцов выбираются «Months», «Advertisers List», «Brands list», и для тех строк, где в столбце "Brands list" есть подстрока 'NICORETTE' с любым количеством символов справа и слева и значение столбца "National channel" равно STS, значение столбца "AdjTVR" равно 1.5 * «TVR», иначе - «TVR».

Смысл: то же самое, что в первом запросе, но для рекламных роликов, включающих бренд 'NICORETTE' (в качестве отдельного наименования или части другого слова), и транслирующихся на СТС, значение рейтинга увеличивается на 50%.

## #4

In [34]:
sql_text = """SELECT 
            [Months], 
            [Advertisers list], 
            [Brands list], 
            SUM([TVR]) as TVR 
            FROM Table1 
            GROUP BY [Months], [Advertisers list], [Brands list]"""

cursor.execute(sql_text)
res_4 = cursor.fetchall()
res_4 = pd.DataFrame(res_4)
res_4.columns = ["Months", "Advertisers list", "Brands list", "TVR"]
res_4

,Months,Advertisers list,Brands list,TVR
0,2013-01-01 00:00:00,ACTAVIS,SPASMALGON,18.14
1,2013-01-01 00:00:00,BAYER AG,ASPIRIN (BAYER),172.28
2,2013-01-01 00:00:00,BAYER AG,RENNIE,134.35
3,2013-01-01 00:00:00,BERLIN-CHEMIE MENARINI GROUP,BROMHEXIN BERLIN-CHEMIE,32.84
4,2013-01-01 00:00:00,BERLIN-CHEMIE MENARINI GROUP,ESPUMISAN,130.57
...,...,...,...,...
98,2014-01-01 00:00:00,PHARMSTANDARD,ARBIDOL,494.80
99,2014-01-01 00:00:00,TAKEDA,CARDIOMAGNYL,293.20
100,2014-01-01 00:00:00,TESKOM,TONGKAT,18.13
101,2014-01-01 00:00:00,ZELDIS,BURENKA (SKIN CARE PRODUCTS),149.00
102,2014-01-01 00:00:00,ZELDIS,HORSE FORCE,58.74

Данные таблицы "Table1" группируются по столбцам «Months», «Advertisers List», «Brands list», по этим группам считается агрегат - суммарный TVR.

Смысл: считаем суммарный рейтинг по каждой тройке "месяц-рекламодатели-бренды".

P.S. для корректного запуска убрала круглые скобки в части `GROUP BY ([Months], [Advertisers list], [Brands list])`. Возможно, работает на старых версиях SQL Server.

## Выгрузка результатов

In [42]:
res_1.Months = pd.to_datetime(res_1.Months)
res_2.Months = pd.to_datetime(res_2.Months)
res_3.Months = pd.to_datetime(res_3.Months)
res_4.Months = pd.to_datetime(res_4.Months)

In [43]:
with pd.ExcelWriter("results_test_ADV.xlsx") as writer:
    res_1.to_excel(writer, sheet_name='Task_1', index=False)
    res_2.to_excel(writer, sheet_name='Task_2', index=False)
    res_3.to_excel(writer, sheet_name='Task_3', index=False)
    res_4.to_excel(writer, sheet_name='Task_4', index=False)